
.nav {
    height: 40px;
    border-top: 2px;
    border-bottom: 2px;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: grey;
}


.boxes{
    float: left;
    border: 0.1% black;
    outline-style: solid;
    width: 9%;
    margin: 0.5%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: white;
    text-align: center;
  }
  