{% extends "masterpage.html" %}
{% block content %}

<link rel="StyleSheet" type="text/css" href="static/css/LoginPage.css">

<!-- Login Form -->
<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Login</span>

            <form action="/Login" method="POST">
                <div class="input-field">
                    <input name="email" id="emailInput" type="text" placeholder="Enter your email" required>
                </div>
                <span id="emailFeedback"></span>

                <div class="input-field">
                    <input name="password" id="passwordInput" type="password" class="password" placeholder="Enter your password"
                        required>
                </div>
                <span id="passwordFeedback"></span>

                <div class="input-field button">
                    <input type="submit" value="Login" onclick="verifyLoginInput()">
                </div>
            </form>
        </div>
    </div>
</div>



{% block scripts %}
<script src="static/js/adminPage.js"></script>
<script src="static/js/loginInputValidation.js"></script>
{% endblock %}
{% endblock %}