{% extends "masterpage.html" %}
{% block content %}

<link rel="StyleSheet" type="text/css" href="static/css/ProfilePage.css">

<div class="container">
    <img class="profileImg" src="static/img/user_photo.jpg" alt="aphoto_ofuser">
    <div>
        <div>
            <br>
            <ul>
                Name: {{userName}}<br>
                Role: {{userRole}}<br>
                Licenseplate: {{userLicenseplate}}<br>
                Payment: {{userCardnumber}}
            </ul>
        </div>
    </div>
</div>

{% if userRole == "Student" %}
<div style="justify-content:center; align-items:center; display:flex;">
    <a id="adminButton" href="{{ url_for('administratorPage.administratorPage') }}">
        <input type="button" value="Admin page">
    </a>
</div>
{% endif %}
{% block scripts %}
<script src="static/js/adminPage.js"></script>
{% endblock %}
{% endblock %}