{% extends "masterpage.html" %}
{% block content %}

<link rel="StyleSheet" type="text/css" href="static/css/ProfilePage.css">

<div class="container">
    <img class="profileImg" src="static/img/user_photo.jpg" alt="aphoto_ofuser">
    <div>
        <div>
            <br>
            <ul>
                Name: {{userName}}<br>
                Role: {{userRole}}<br>
                Licenseplate: {{userLicenseplate}}<br>
                Payment: {{userCardnumber}}
            </ul>
        </div>
    </div>
</div>

{% if userRole == "Student" %}
<div style="justify-content:center; align-items:center; display:flex;">
    <div class="input-field" style="padding:1%;">
        <input type="text" placeholder="Enter a licenseplate" required>
    </div>
    <div class="input-field button" style="padding:1%;">
        <input type="button" value="Delete">
    </div>
</div>
{% endif %}
<div>
    <input id="adminButton" type="button" value="Admin">
</div>
{% if userRole == "Admin" %}
<script src="static/js/adminPage.js"></script>
{% endif %}

{% endblock %}