{% extends "masterpage.html" %}
{% block content %}

<link rel="StyleSheet" type="text/css" href="static/css/RegisterPage.css">

<!-- Registration Form -->
<div class="container">
    <div class="form signup">
        <span class="title">Registration</span>

        <form action="#">
            <div class="input-field">
                <input id="firstName" type="text" placeholder="Enter your first name" required>
            </div>
            <span id="firstNameFeedback"></span>
            <div class="input-field">
                <input id="lastName" type="text" placeholder="Enter your last name" required>
            </div>
            <span id="lastNameFeedback"></span>
            <div class="input-field">
                <input id="email" type="email" placeholder="Enter your email" required>
            </div>
            <span id="emailFeedback"></span>
            <div class="input-field">
                <input id="licensePlate" type="text" placeholder="Enter your license plate" required>
            </div>
            <span id="licensePlateFeedback"></span>
            <div class="input-field">
                <input id="pw1" type="password" class="password" placeholder="Create a password" required>
            </div>
            <span id="pw1Feedback"></span>
            <div class="input-field">
                <input id="pw2" type="password" class="password" placeholder="Confirm a password" required>
            </div>
            <span id="pw2Feedback"></span>
            <div class="input-field">
                <input id="cardNumber" type="text" placeholder="Enter a cardnumber" required>
            </div>
            <span id="cardNumberFeedback"></span>
            <div class="input-field">
                <input id="cardName" type="text" placeholder="Enter cardholder's name" required>
            </div>
            <span id="cardNameFeedback"></span>
            <div class="input-field">
                <input id="cardCode" type="text" placeholder="Enter CVC" required>
            </div>
            <span id="cardCodeFeedback"></span>
            <div class="input-field">
                <input id="cardDate" type="month" placeholder="Enter expiration date" required>
            </div>
            <span id="cardDateFeedback"></span>
            <div class="input-field button">
                <input type="button" value="Register" onclick="verifyRegistrationInput()">
            </div>
        </form>
    </div>
</div>

    {% block scripts %}
    <script src="static/js/registrationInputValidation.js"></script>

    {% endblock %}
{% endblock %}