
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" required>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Enter your password" required>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Login">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not registered?
                        <a href="#" class="text signup-link">Register</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">Registration</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your first name" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your last name" required>
                    </div>
                    <div class="input-field">
                        <input type="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your license plate" required>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Create a password" required>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirm a password" required>
                    </div>
                    <div class="input-field button">
                        <input type="button" value="Register">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Already a member?
                        <a href="#" class="text login-link">Log in</a>
                    </span>
                </div>
            </div>
        </div>
    </div>