<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="StyleSheet" type="text/css" href="../css/nav.css">
        <link rel="StyleSheet" type="text/css" href="../css/banner.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/scripts/modernizr-2.6.2.js"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <img id="bannerImg" src="../img/zbc_black.jpg"/>

        <div class="nav">
            <!-- Home -->
            <a href="/">Home</a>
            <!--<a href="../pages/FrontPage.html">Home</a>-->
            <!-- Parking Lot Map -->
            <a href="{{ url_for('parkingLotMap') }}">Parking Lot</a>
            <!-- Profile -->
            <a href="{{ url_for('profile') }}">Profile</a>
            <!-- LogIn/Register -->
            <a href="{{ url_for('login-Register') }}">Login/Register</a>
        </div>

        <div class="body">
            {% block content %}{% endblock %}
        </div>

        <hr>

        <footer>
            <h1>ZBC Parking lot &copy;</h1>
        </footer>

        <script src="/static/scripts/jquery-1.10.2.js"></script>
        <script src="/static/scripts/bootstrap.js"></script>
        <script src="/static/scripts/respond.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>