{% extends "masterpage.html" %}
{% block content %}

<link rel="StyleSheet" type="text/css" href="static/css/FrontPage.css">

<div>
    <!-- Sector 1 -->
    <div id = "box_left"> 
        <h3>Sector 1</h3>
        <p>Available: 
            <span class="not_avaible"> 0 </span> 
        </p> 
        <!-- try to impliment that the if the amount of places is more than 20% put the green light, if less than 20 then orange.-->
        <p>Used: 3 </p> 
        <p>Total: 90 </p> <!-- Somebody will have to count the exact amount of places, and it looks like it'll be me. -->
    </div>
    
    <!-- In the Sector 2 and Sector 3 is how they are used to look, or we can just make black and white if you want.-->

    <!-- Sector 2 -->
    <div id = "box_left"> 
        <h3>Sector 2</h3>
        <p>
            Available:  
            <span class="available"> 21 </span>
        </p>
        <p> Used: 14 </p>
        <p> Total:  47 </p>
    </div>

    <!-- Sector 3 -->
    <div id = "box_left"> 
        <h3>Sector 3</h3>
        <p>
            Available:  
            <span class="meh"> 2 </span>
        </p>
        <p> Used: 21 </p>
        <p> Total: 53 </p>
    </div>
</div>

<br>
<br>

{% endblock %}

<!-- <div> -->
    <!-- Test for transfering data from db to html -->
    <!-- <div>
        <li>{{data}}</li>
    </div>
</div> -->