{% extends "masterpage.html" %}
{% block content %}

<link rel="StyleSheet" type="text/css" href="static/css/FrontPage.css">

<div class="flex-container">
    <!-- Sector 1 -->
    <div id = "box_left"> 
        <h3>Sector 1</h3>
        <p>Available: 
            <span class="not_avaible">{{sector1AS}}</span> 
        </p> 
        <!-- try to impliment that the if the amount of places is more than 20% put the green light, if less than 20 then orange.-->
        <p>Used: {{sector1US}}</p> 
        <p>Total: {{sector1Total}}</p> <!-- Somebody will have to count the exact amount of places, and it looks like it'll be me. -->
    </div>
    
    <!-- In the Sector 2 and Sector 3 is how they are used to look, or we can just make black and white if you want.-->

    <!-- Sector 2 -->
    <div id = "box_left"> 
        <h3>Sector 2</h3>
        <p>
            Available:  
            <span class="available">{{sector2AS}}</span>
        </p>
        <p> Used: {{sector2US}}</p>
        <p> Total: {{sector2Total}}</p>
    </div>

    <!-- Sector 3 -->
    <div id = "box_left"> 
        <h3>Sector 3</h3>
        <p>
            Available:  
            <span class="meh">{{sector3AS}}</span>
        </p>
        <p> Used: {{sector3US}}</p>
        <p> Total: {{sector3Total}}</p>
    </div>
</div>

{% endblock %}