{% extends "masterpage.html" %}
{% block content %}

<div>
    <!-- Sector 1 -->
    <div id = "box_left"> 
        <h6>Sector 1</h6>
        <p>Avaible:  </p> <!-- try to impliment that the if the amount of places is more than 20 put the green light,
        if less than 20 then orange.-->
        <p>Used:  </p> <!-- Try to implement the same thing but just if all places are used then red color.-->
        <p>Total: <!-- Somebody will have to count the exact amount of places --> </p>
    </div>

    <!-- Sector 2 -->
    <div id = "box_left"> 
        <h6>Sector 2</h6>
        <p>Avaible:  </p>
        <p>Used:  </p>
        <p>Total:  </p>
    </div>

    <!-- Sector 3 -->
    <div id = "box_left"> 
        <h6>Sector 3</h6>
        <p>Avaible:  </p>
        <p>Used:  </p>
        <p>Total:  </p>
    </div>
</div>

{% endblock %}