{% extends "masterpage.html" %}
{% block content %}

</head>
<body>

<h2>Login Form</h2>

<form action="/action_page.php" method="post">

    <div class="container">
        <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" onclick="usrname">Login</button>
    </div>
</form>
</body>


{% endblock %}