<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" type="text/css" href="static/css/LogReg.css">
        <link rel="StyleSheet" type="text/css" href="static/css/nav.css">
        <link rel="StyleSheet" type="text/css" href="static/css/banner.css">
        <link rel="StyleSheet" type="text/css" href="static/css/FrontPage.css">
        <link rel="StyleSheet" type="text/css" href="static/css/profile.css"
> 
        <title>{{ title }}</title>
    </head>
    <body>
        <img id="bannerImg" src="static/img/zbc_black.jpg"/>

        <div class="nav">
            <!-- Home -->
            <div class="boxes"><a href="/">Home</a></div>
            <!-- Parking Lot Map -->
            <div class="boxes"><a href="{{ url_for('parkingLotMap') }}">Parking Lot</a> </div>
            <!-- Profile -->
            <div class="boxes"><a href="{{ url_for('profile') }}">Profile</a> </div>
            <!-- LogIn/Register -->
            <div class="boxes"><a href="{{ url_for('loginRegister') }}">Login/Register</a> </div>
        
        </div>

        <div class="body">
            {% block content %}{% endblock %}
        </div>

                                          
        <div class="footer">
            <hr>
            <h2>ZBC Parking Lot &copy;</h2>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>