{% extends "masterpage.html" %}
{% block content %}

<div style="justify-content:center; align-items:center; display:flex;">
    <img src="static/img/user_photo.jpg" alt="aphoto_ofuser" style="float:left;width:10%;height:10%;">
    <div class="clearfix">
        <div class="column menu">
            <br>
            <ul>
                Name: {{userName}}<br>
                Role: {{userRole}}<br>
                Licenseplate: {{userLicenseplate}}<br>
                Payment: {{userCardnumber}}
            </ul>
        </div>
    </div>
</div>

{% endblock %}